version: '3.8'

services:
  app:
    build: .
    container_name: MyVault
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    environment:
      - DATABASE_URL=sqlite+aiosqlite:///./data/local.db
